{{#each valid}}

  <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<div id="card_formulario" class="card" style="display: none">
  <div class="card-body">
    <h2>Novo produto</h2>
    <form action="/api/produtos" method="POST">
      <label for="nome">Nome: </label>
      <input
        type="text"
        id="nome"
        name="nome"
        placeholder="Nome do produto"
        class="form-control"
      />
      <label for="preço">Preço: </label>
      <input
        type="text"
        id="preço"
        name="preço"
        placeholder="preço do produto"
        class="form-control"
      />
      <label for="categoria">Categoria: </label>
      <input
        type="text"
        id="categoria"
        name="categoria"
        placeholder="Categoria do produto"
        class="form-control"
      />
      <button type="submit" class="btn btn-success mt-4">Registra produto</button>
    </form>
  </div>
</div>