<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <title>Produtos</title>
  </head>
  <body>
    <div class="container mt-3">
      <div class="btn-group mt-2" role="group" aria-label="Basic example">
        <button id="abrir-formulario" class="btn btn-success">Criar novo produto</button>
        <button id="abrir-pesquisaID" class="btn btn-success">Buscar produto por id</button>
      </div>
      {{>_pesquisaID}}
      {{>_formRegistrarProduto}}
      <script>
        document.getElementById('abrir-pesquisaID').addEventListener('click', function(){
          var pesquisa = document.getElementById('card_pesquisaID');
          if (pesquisa.style.display === 'none') {
            pesquisa.style.display = 'block';
          } else {
            pesquisa.style.display = 'none';
          }});
      </script>
    
      <script>
        document.getElementById('abrir-formulario').addEventListener('click', function() {
          var formulario = document.getElementById('card_formulario');
          if (formulario.style.display === 'none') {
            formulario.style.display = 'block';
          } else {
            formulario.style.display = 'none';
          }});
      </script>
      {{>_msg}}
      {{{body}}}
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
    integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
    crossorigin="anonymous"
  ></script>
  <script src="/js/bootstrap.js"></script>
</html>